<?xml version="1.0"?>
<config>
    <tabs>
        <webbhuset translate="label" module="whfeatures">
            <label>Webbhuset</label>
            <sort_order>100</sort_order>
        </webbhuset>
    </tabs>
    <sections>
        <whfeatures translate="label" module="whfeatures">
            <label>Features</label>
            <tab>webbhuset</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <category translate="label">
                    <label>Category</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <shuffle_products translate="label">
                            <label>Random Product Order</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Shuffles product order in categories every night.]]></comment>
                        </shuffle_products>
                        <shuffle_store translate="label">
                            <label>Shuffle Products</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_model>whfeatures/adminhtml_system_config_shuffleButton</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shuffle_store>
                    </fields>
                </category>
                <urls translate="label">
                    <label>Product urls</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <add_category_url translate="label">
                            <label>Add category path to product url</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Gets category url path and add to urls.]]></comment>
                        </add_category_url>
                    </fields>
                </urls>
            </groups>
        </whfeatures>
        <sitemap>
            <groups>
                <generate>
                    <fields>
                        <split_limit translate="label" module="sitemap">
                            <label>Split sitemap</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <validate>validate-digits</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[<span class="notice">Split sitemap file at value (50000 standard).</span>]]>
                            </comment>
                        </split_limit>
                        <ignore_url_rewrite_null translate="label" module="sitemap">
                            <label>Ignore Url Rewrite null</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[<span class="notice">Ignore where url Rewrite is null</span>]]>
                            </comment>
                        </ignore_url_rewrite_null>
                    </fields>
                </generate>
            </groups>
        </sitemap>
    </sections>
</config>

